doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/style.css")
  body
    .container
      br
      .jumbotron
        h1 Hey!
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')
